.sign-in {
    width : 30vw;
    display: flex;
    flex-direction: column;

    .buttons {
        width: auto;
        display: flex;
        justify-content:space-between;
        size: 3vw important;
        
    }
}